.container {
    width: 800px;
    margin-left: calc(50% - 400px);
    margin-top: 100px;
}
.left-column {
    width: 40%;
    padding: 40px;
    background-color: #008fae;
    float: left;
    color: #fff;
    background-image: url(../img/hill.png);
    background-size: cover;
    background-position: center;
}
.main-title {
    width: 100%;
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 300px;
}
.bottom-links > .link {
    color: #fff;
}

.right-column {
    width: 60%;
    padding: 60px;
    background-color: #fff;;
    float: left; 
}

.close {

}

/* 1. Kaip padaryti, kad vienas elementas reaguotu i kito elemento auksti ir atitinkamai augtu ar mazetu.
2. Elementu pozicionavimas i virsu ir i apacia.
3. Mygtuko background color gradiant`as (perejimas is vienos spalvos i kita).
4. Horizontaliai ir vertikaliai visas kontentas turi buti ekrano centre visada.
*/